body {
  background: #222;
  color: #fff;
}

.main-content {
  max-width: 700px;
  margin: 8em auto 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

h1 {
  width: 100%;
  margin: 0 auto 1.5em;
  font-size: 30px;
  text-align: center;
  font-weight: 700;
}

h1 small {
  text-transform: none;
  display: block;
  margin: 20px 0;
  font: 400 20px 'Helvetica';
  color: #999;
}

.line {
  width: 45px;
  height: 8px;
  background: #fff;
  margin: 5px auto;
}

.box {
  width: 10px;
  height: 10px;
  background: #fff;
  margin: 3px 3px;
  display: inline-block;
}

.circle {
  width: 12px;
  height: 12px;
  margin: 3px;
  background: #fff;
  border-radius: 50%;
  display: block;
}

.menu_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.menu_wrapper > div {
  width: 60px;
  height: 60px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.menu_wrapper > div:focus {
  outline: none;
}

.menu_wrapper > span {
  display: inline-block;
  text-align: center;
  line-height: 1.2;
  padding: 20px;
  margin-top: auto;
}

.line, .box {
  -webkit-transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.menu__item--hamburger:hover .line:nth-child(1), .menu__item--hamburger:focus .line:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(12px, 12px);
          transform: rotate(45deg) translate(12px, 12px);
}

.menu__item--hamburger:hover .line:nth-child(2), .menu__item--hamburger:focus .line:nth-child(2) {
  visibility: hidden;
}

.menu__item--hamburger:hover .line:nth-child(3), .menu__item--hamburger:focus .line:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(15px, -16px);
          transform: rotate(-45deg) translate(15px, -16px);
}

.menu__item--doner {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu__item--doner .line:nth-child(2) {
  width: 32px;
}

.menu__item--doner .line:nth-child(3) {
  width: 20px;
}

.menu__item--doner:hover .line:nth-child(1), .menu__item--doner:focus .line:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(12px, 12px);
          transform: rotate(45deg) translate(12px, 12px);
}

.menu__item--doner:hover .line:nth-child(2), .menu__item--doner:focus .line:nth-child(2) {
  width: 20px;
  -webkit-transform: rotate(-45deg) translate(-12px, -1.5px);
          transform: rotate(-45deg) translate(-12px, -1.5px);
}

.menu__item--doner:hover .line:nth-child(3), .menu__item--doner:focus .line:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(25px, -14px);
          transform: rotate(-45deg) translate(25px, -14px);
}

.menu__item--bento:hover .box:nth-child(2),
.menu__item--bento:hover .box:nth-child(4),
.menu__item--bento:hover .box:nth-child(6),
.menu__item--bento:hover .box:nth-child(8), .menu__item--bento:focus .box:nth-child(2),
.menu__item--bento:focus .box:nth-child(4),
.menu__item--bento:focus .box:nth-child(6),
.menu__item--bento:focus .box:nth-child(8) {
  opacity: 0;
}

.menu__item--kebab {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.menu__item--kebab .circle:nth-child(4), .menu__item--kebab .circle:nth-child(5) {
  position: absolute;
  opacity: 0;
  top: 50%;
  left: 50%;
  margin-top: -6px;
}

.menu__item--kebab .circle:nth-child(4) {
  margin-left: -25px;
}

.menu__item--kebab .circle:nth-child(5) {
  margin-left: 13px;
}

.menu__item--kebab:hover, .menu__item--kebab:focus {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.menu__item--kebab:hover .circle, .menu__item--kebab:focus .circle {
  opacity: 1;
}

.menu__item--meatball {
  -webkit-transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.menu__item--meatball:hover, .menu__item--meatball:focus {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
/*# sourceMappingURL=styles.css.map */